<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>Keywords Generator</title>
		<link href="/static/css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<meta name="keywords" content="Launcher iphone web template, Android web template, Smartphone web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<link href='//fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!--start-wrap--->
			<div class="wrap">
				<!--start-header--->
				<div class="header">
					<div class="social-icons">
						<ul>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="content">
					<div class="left-content">
						<h4>Загрузка файлу</h4>
						<p>Генератор ключових слів з назви</p>
						<form action='' method="POST" enctype="multipart/form-data">
							<input type="file" name="doc" multiple=""><input type="submit" value="Завантажити" />
						</form>					
					</div>
					<div class="right-content">
						<img src="/static/images/banner.png" title="banner-name" /> 
					</div>
					<div class="clear"> </div>
				</div>
				<div class="copy-right">
					<p>&copy; 2013 Launcher . All Rights Reserved | Design by <a href="http://w3layouts.com/">w3layouts</a></p>
				</div>
				<!--end-header--->
			</div>
		<!--start-wrap--->
	</body>
</html>

